<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.carousel.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
    <title>HackyTime Travel</title>
</head>

<body class="landing">
    <div id="main" class="container">

        <div class="d-flex justify-content-center">


            <div class="events owl-carousel" style="padding-top: 20%">

            {% for event in events %}
                <div class="card" style="background-color: #181922; border-radius: 5%!important;">

                        <h4 class="card-header" style="background-color: #e44c65; border-radius: 5%!important;"></h4>
                                <div class="card-body">
                                    <div class="card-title">
                                        {{event.year}}
                                    </div>
                                    <div class="card-text">
                                        <p>{{event.details}}</p>

                                </div>
                        </div>
                </div>

                {% else %}
                <p> Sorry, no notable  events today!</p>
            {% endfor %}
                            </div>

            <br/>

    </div>
    </div>

    <audio id="time_jump_sound" src="{{ url_for('static', filename='time_travel.mp3') }}"></audio>

    <!-- overlay -->
    <div class="mesh-loader" style="display: none">
        <div class="set-one">
            <div class="circle"></div>
            <div class="circle"></div>
        </div>
        <div class="set-two">
            <div class="circle"></div>
            <div class="circle"></div>
        </div>
    </div>


    <!-- Scripts -->
    <script></script>
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/owl.carousel.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>
</html>
